
#user_weekly_hours {
    width: 90%;
}

.hours-report {
    margin-top: 10px;
}

.checkbox-members {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.checkbox-members > li {
    list-style: none;
    float:left;
    margin-right: 15px;
}

.add , .clear {
    clear: both;
}

.btnadd {
    margin-left: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.checkbox-group > li {
    list-style: none;
    float: left;
    margin-right: 15px;
}

.checkbox-group {
    margin-bottom: 15px;
}

.table-ec {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    width: 80% !important;
}