<p>
  <%= form.text_field :weekly_hours %>
</p>
<p>
  <%= form.check_box :tracking %>
</p>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'elcapitan', :plugin => 'el_capitan' %>
<% end %>